<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" id="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="content">Body</label>
    <textarea class="form-control" id="content" rows="3"></textarea>
  </div>
</form>