<div class="d-flex flex-wrap justify-content-center">
{{#each posts as |post| }}
<div class="card m-5" style="width: 15rem;">
    <a href="/details/{{post.dataValues.id}}">
        <div class="card-body" >
            <h5 class="card-title">{{post.dataValues.title}}</h5>
            <p class="card-text text-muted small">MM/DD/YYYY</p>
        </div>
    </a>
</div>
{{/each}}
</div>
